[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = lavishwire001232
	email = 144847068+lavishwire001232@users.noreply.github.com
